<div class="main-wrapper">
		<div class="inner-content-sec">
			 <div class="container">
					<div class="row">
						 <div class="col-sm-12">
								<div class="login-block open-suggestion-block">		
									<form>
											<div class="general-information-block mt0">	
												<div class="form-content">
                          <div class="suggestion-text mb60">	
														<div class="fa-topimg-block">
															<img src="assets/images/error.png">
														</div>
														<h4 class="text-center mt20 recommend-txt">Page not found!</h4>
														<h5 class="mt10 text-center">The requested URL was not found.</h5>
                          </div>
                        </div>
										 </div>
									</form>
								</div>
						 </div>
					</div>
			 </div>
		</div>
</div>
