<div class="main-wrapper">
  <div class="inner-content-sec">
     <div class="container-common">
        <div class="row">
          <div class="col-sm-12">
            <div class="login-block editpro-block">
              <form [formGroup]="userDetailForm">
                  <div class="profile-block text-center">
                        <div class="userpro-img">
                          <img src="{{fileData}}">
                            <img src="assets/images/camera.png" class="camera-img"> 
                            <input type="file" accept="image/jpeg,image/jpg,image/png" (change)="profilePic($event)">    
                        </div> 
                  </div>
                  <hr>
                  <div class="general-information-block">
                    <h4>GENERAL INFORMATION</h4>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-inner-content">
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control" formControlName="name" name="name" maxlength="60" autocomplete="off" placeholder="Enter name" [disabled]="" >
                              <div class="errMsg" *ngIf="(name.dirty) && name.invalid">
                                <span [ngClass]="{error:name.errors.required}" style=color:red *ngIf="name.errors.required">*Please enter  name.</span>
                                <span [ngClass]="{error:name.errors.pattern}" style=color:red *ngIf="name.errors.pattern">*Please enter valid  name.</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-inner-content">
                            <div class="form-group">
                              <label>Email</label>
                              <input type="text" class="form-control" readonly value="{{email}}" name="email" maxlength="64" autocomplete="off" placeholder="Enter email">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-inner-content">
                            <div class="form-group">
                              <label class="gender-label">Gender</label>
                              <label class="radio-design ">
                                <input type="radio" value="Male" name="gender" formControlName="gender" ><span></span> Male
                                </label>
                                <label class="radio-design ">
                                  <input type="radio" value="Female" name="gender" formControlName="gender" ><span></span> Female
                                  </label>
                                  <div class="errMsg" *ngIf="(gender.dirty) && gender.invalid">
                                    <span [ngClass]="{error:gender.errors.required}" style=color:red *ngIf="gender.errors.required">*Please choose gender.</span>
                                  </div>
                    </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-inner-content">
                            <div class="form-group">
                              <label>Date of Birth</label>
                              <input type="date" class="form-control calender-icon" formControlName="dob" name="dob" max="{{minAge | date:'yyyy-MM-dd'}}" placeholder="dd-mm-yyyy">
                              <div class="errMsg" *ngIf="(dob.dirty) && dob.invalid">
                                <span [ngClass]="{error:dob.errors.required}" style=color:red *ngIf="dob.errors.required">*Please enter date of birth.</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-inner-content">
                            <div class="form-group">
                              <label>Country</label>
                              <select class="form-control dropdown-icon" formControlName="country" name="name" [(ngModel)]="selectedCountry" (change)="selectCountry(country)">
                                    <option value="">Select Country</option>
                                    <option  *ngFor="let country of countryList" value="{{country.name}}">{{country.name}}</option>
                                  </select>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-inner-content">
                            <div class="form-group">
                              <label>State</label>
                              <select class="form-control dropdown-icon" formControlName="state" [(ngModel)]="selectState">
                                <option value="">Select State</option>
                                <option *ngIf="check != 1" [value]="selectState">{{selectState}}</option>
                                <option *ngFor="let state of statelist" value="{{state.stateName}}">{{state.stateName}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-inner-content">
                            <div class="form-group">
                              <label>Phone Number</label>
                              <input type="text" class="form-control" placeholder = "Enter phone" readonly value="{{cc}}" name="phone"/>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="mt15 text-center">
                        <button class="btn btn-signin max-WT-150" [disabled]="userDetailForm.invalid"  (click)="updateProfile()">Update</button>
                      </div>
                  </div>  
              </form>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>
<!-- [disabled]="userDetailForm.invalid" -->