<div class="main-wrapper">
  <div class="inner-content-sec">
     <div class="container-common">
        <div class="row">
           <div class="col-sm-12">
              <div class="login-block">
                  <form [formGroup]="loginForm" novalidate autocomplete="off">
                     <div class="common-form-block">
                        <div class="login-header">
                           <h2>LOGIN</h2>
                        </div>
                        <div class="form-inner-content">
                           <div class="form-group">
                              <label>Email</label>
                              <div class="custum-input-box">
                                 <input type="text" class="form-control" placeholder="Email Id" formControlName="email" maxlength="64">
                                 <img src="assets/images/email-img.png">
                                 <img src="assets/images/email-img2.png">
                              </div>
                              <div class="errors" *ngIf="email.invalid && (email.dirty || email.touched)">
                                <div *ngIf="email.errors.required" class='danger' style="color: red" padding>
                                    *Please enter email address
                                </div>
                                <div *ngIf="email.errors.pattern" class='danger' style="color: red" padding>
                                    *Please enter valid email address.
                                </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <label>Password</label>
                              <div class="custum-input-box">
                                 <input type="password" class="form-control" placeholder="Password" formControlName="password" maxlength="16">
                                 <img src="assets/images/password-icon.png">
                                 <img src="assets/images/password-icon2.png">
                              </div>
                              <div class="errors" *ngIf="password.invalid && (password.dirty || password.touched)">
                                <div *ngIf="password.errors.required" class='danger' style="color: red" padding>
                                  *Please enter password.
                                </div>
                              </div>
                           </div>
                            <div class="forget-text" style="cursor:pointer">
                                <a (click)="openForgotPassword()" data-toggle="modal">
                                  Forgot Password?
                                </a>
                            </div>
                           <div class="button-box">
                              <button class="btn btn-signin btnwidth100" (click)="login()">Sign In</button>
                           </div>
                           <div class="not-member-block">
                              Not a member yet? <a href="javascript:;" class="reg-anchor" (click)="signup()">Register</a>
                           </div>
                            
                        </div>
                     </div>
                  </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<!--Forgot Password Modal -->
<div class="modal fade common-modal" id="forgot-pass" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel">
  <div class="modal-dialog max-WT-600" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-body forgotpass-body">
        	<div class="header-green">
            <h4>FORGOT PASSWORD?</h4>
            <button type="button" class="close modal-cross" data-dismiss="modal"><img src="assets/images/cross-icon.png"></button>
	        </div>
	       	<div class="form-inner-content">
		        <form [formGroup]="forgotPasswordForm">
		    		<div class="form-group">
	 	  	 	 	 	 <label>Email</label>
	 	  	 	 	 	 <div class="custum-input-box inputbox-cus">
	 	  	 	 	 	    <input type="text" class="form-control"  formControlName="forgotPasswordEmail" maxlength="64" autocomplete="off" placeholder="E-mail">
                      <img src="assets/images/email-img.png">
                      <div class="errors" *ngIf="forgotPasswordEmail.invalid && (forgotPasswordEmail.dirty || forgotPasswordEmail.touched)">
                        <div *ngIf="forgotPasswordEmail.errors.required" class='danger' style="color: red" padding>
                            *Please enter email address.
                        </div>
                        <div *ngIf="forgotPasswordEmail.errors.pattern" class='danger' style="color: red" padding>
                            *Please enter valid email address.
                        </div>
                      </div>
	 	  	 	 	 	 </div>
	 	 	 	 	</div>
	 	 	 	 	<div class="mt30 text-center">
	 	 	 	 		<button class="btn btn-signin max-WT-300" [disabled]="forgotPasswordForm.invalid" (click)="submitForgotPassword()">Send Me Password</button>	
	 	 	 	 	</div>
	 	 	 	 	<!-- <p class="text-center mt30">Your password have been sent successfully to your registered email address.</p>  -->
	 	 			<!-- <div class="click-here mt30 text-center">
	 	 					<a href="#" class="reg-anchor">Click here to send again</a>
	 	 			</div> -->
		      	</form>
		    </div>
	    </div>
      </div>
    </div>
  </div>
</div>

<!--key Modal -->
<div class="modal fade common-modal" id="key" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel">
  <div class="modal-dialog max-WT-600" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-body key-body">
        	<div class="header-green header-transparent">
            <h4>Please enter the OTP for Google verification</h4>
            <button type="button" class="close modal-cross" data-dismiss="modal"><img src="assets/images/cross-icon.png"></button>
	        </div>
	       	<div class="form-inner-content">
		        <form>
		    		<div class="form-group">
	 	  	 	 	 	<!-- <div class="key-frame text-center">
                <img [src]="angularxQrCode" />
	 	  	 	 	 	</div> -->
	 	 	 	 	</div>
							<!-- <p class="mt20 text-center">{{secretKey}}</p> -->
						<div class="form-group">
								<input type="text" class="form-control" name="googleOtp" [(ngModel)]="googleOtp" maxlength="6" placeholder="Enter code generated by authenticator app" autocomplete="off"/>
						</div>
	 	 	 	 	<div class="mt30 text-center">
	 	 	 	 		<button class="btn btn-signin" [disabled]="!googleOtp" (click)="googleVerify()">Submit</button>	
	 	 	 	 	</div>
	 	 	 	 	
		      	</form>
		    </div>
	    </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade common-modal" id="sms-verify" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel">
  <div class="modal-dialog max-WT-600" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-body forgotpass-body">
        	<div class="header-green header-transparent">
            <h4 class="headingmall">Please enter the OTP for SMS verification</h4>
            <button type="button" class="close modal-cross" data-dismiss="modal"><img src="assets/images/cross-icon.png"></button>
	        </div>
	       	<div class="form-inner-content">
		        <form>
		    		<div class="form-group">
	 	  	 	 	 	 <label>Enter OTP</label>
	 	  	 	 	 	 <div class="custum-input-box  padd-input-box">
	 	  	 	 	 	    <input type="text" class="form-control" name="smsOtp" [(ngModel)]="smsOtp" autocomplete="off" maxlength="4"/>
	 	  	 	 	 	 </div>
            </div>
              <div class="text-right mt10">
									<U style="color: #27a57f ;cursor: pointer;" (click)="resend()">Resend OTP</U>
							</div>
	 	 	 	 	<div class="mt30 text-center">
	 	 	 	 		<button class="btn btn-signin" data-toggle="modal" href="#otp" [disabled]="!smsOtp" (click)="smsVerify()">Submit</button>	
	 	 	 	 	</div>
	 	 	 	 	
		      	</form>
		    </div>
	    </div>
      </div>
    </div>
  </div>
</div>


