<div class="topbanner" id="home">
    <div id="particles-js" class="particles-animation"></div>
        <div class="banner">
            <div class="banner-inner">
                <h1>THE NEXT-GENERATION DIGITAL CURRENCY<br> EXCHANGE</h1>
                <!-- <a class="bth btn-banner2" (click)="signup()">Create Account</a> -->
            </div>
        </div>    
</div>

<div class="topbox-sec">
    <div class="container-common">
        <div class="row">
            <div class="col-md-3">
                <div class="top-boxes">
                    <div class="top-boxes-head">
                        <img src="assets/images/icon-box1.png">
                        <div class="top-boxes-headin">
                            <h4>SECURE AND TRANSPARENT</h4>
                        </div>
                    </div>
                    <p>Security is our top priority, 90% of digital funds stored offline.<BR>
                        • Any Problems ? Contact our support available 7/7 via email.<BR>
                        • Telegram channel 7/7 24/24 for any questions/inquiries.<BR>
                        • Powered by a team of professional in : finance, engineering & digital solutions.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-boxes">
                    <div class="top-boxes-head">
                        <img src="assets/images/icon-box2.png">
                        <div class="top-boxes-headin">
                            <h4>NO HIDDEN FEES</h4>
                        </div>
                    </div>
                    <p>Transparent volume-based pricing with the most lowest dynamic fees on market.<BR>
                        • Unlimited Deposit free<BR>
                        • Unlimited Withdraw<BR>
                        Our fees structure <A href="https://res.cloudinary.com/bithood-exchange/image/upload/v1529708435/Bithood_Fees_structure_2018.pdf" target="_blank">here.</A></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-boxes">
                    <div class="top-boxes-head">
                        <img src="assets/images/icon-box3.png">
                        <div class="top-boxes-headin">
                            <h4>REAL TIME TRADING</h4>
                        </div>
                    </div>
                    <p>Trade Instantly in a fair & secure environment with the best trading tools on our :<BR>
                        • Exchange<BR>
                        • Margin & Lending contracts (leverage up to 3.5x)<BR>
                        • OTC market with a secure & fast Escrow Desk<BR>
                        • Robust API<BR>
                        • Chatbox with : English/Japanese/Chinese<BR>
                        /Russian/Korean/Spanish channel</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-boxes">
                    <div class="top-boxes-head">
                        <img src="assets/images/icon-box4.png">
                        <div class="top-boxes-headin">
                            <h4>BITHOOD FEATURES</h4>
                        </div>
                    </div>
                    <p>Secure, dynamic, & advanced Platform available 24/24 7/7<BR>
                        • Novice & Professional Platform : Access to exchange, Margin, Lending & OTC solutions
                        with one click.<BR>
                        • Affiliate programs<BR>
                        • The most cheapest Market Maker program<BR>
                        • Add token suggestion form with vote system, fast Pre-List & Listing your project.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overView-sec">
    <div class="container-common">
        <div class="row">
            <div class="col-sm-12">
                <div class="overView-mainbox">
                    <div class="overView-head"><span>OVERVIEW</span></div>
                    <div class="overView-menu">
                        <ul>
                            <li>BTC/USDT</li>
                            <li>BTC/ETH</li>
                            <li>LTC/BTC</li>
                            <li>LTC/ETH</li>
                            <li>ETH/BTC</li>
                            <li>ETH/USDT</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="table-box">
                                <div class="table-boxinner">
                                    <h4 class="heading-hometable clearfix">LIVE TRADES-BIDS <img src="assets/images/icon-wave.png" class="icon-wave"></h4>
                                    <div class="table-responsive">
                                        <table class="table tableHome">
                                            <thead>
                                                <tr>
                                                    <th>Amount</th>
                                                    <th>Price</th>
                                                    <th>UTC Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>0.45673357</td>
                                                    <td>66666.67</td>
                                                    <td>05:59:37</td>
                                                </tr>
                                                <tr>
                                                    <td>0.45673357</td>
                                                    <td>66666.67</td>
                                                    <td>05:59:37</td>
                                                </tr>
                                                <tr>
                                                    <td>0.45673357</td>
                                                    <td>66666.67</td>
                                                    <td>05:59:37</td>
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="table-box">
                                <div class="table-boxinner">
                                    <h4 class="heading-hometable clearfix">LIVE TRADES-ASK <img src="assets/images/icon-wave.png" class="icon-wave"></h4>
                                    <div class="table-responsive">
                                        <table class="table tableHome">
                                            <thead>
                                                <tr>
                                                    <th>Amount</th>
                                                    <th>Price</th>
                                                    <th>UTC Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>0.45673357</td>
                                                    <td>66666.67</td>
                                                    <td>05:59:37</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>0.45673357</td>
                                                    <td>66666.67</td>
                                                    <td>05:59:37</td>
                                                </tr>
                                                <tr>
                                                    <td>0.45673357</td>
                                                    <td>66666.67</td>
                                                    <td>05:59:37</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="table-box">
                                <div class="table-boxinner">
                                    <h4 class="heading-hometable clearfix">LIVE TRADES <img src="assets/images/icon-wave.png" class="icon-wave"></h4>
                                    <div class="table-responsive">
                                        <table class="table tableHome">
                                            <thead>
                                                <tr>
                                                    <th>Amount</th>
                                                    <th>Price</th>
                                                    <th>UTC Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>0.45673357</td>
                                                    <td>66666.67</td>
                                                    <td>05:59:37</td>
                                                </tr>
                                                <tr>
                                                    <td>0.45673357</td>
                                                    <td>66666.67</td>
                                                    <td>05:59:37</td>
                                                </tr>

                                                <tr>
                                                    <td>0.45673357</td>
                                                    <td>66666.67</td>
                                                    <td>05:59:37</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="transcation-block">
    <div class="container-common">
        <div class="row">
            <div class="col-sm-10">
                <div class="transcation-block-inner">
                    <ul>
                        <li>
                            <span class="text-block">Current Price</span>
                            <span class="no-block" id="current-price-header">0.00000000</span>
                        </li>
                        <li>
                            <span class="text-block">Highest</span>
                            <span class="no-block" id="highest-header">0.00000000</span>
                        </li>
                        <li>
                            <span class="text-block">Average</span>
                            <span class="no-block" id="average-header">0.00000000</span>
                        </li>
                        <li>
                            <span class="text-block">Lowest</span>
                            <span class="no-block" id="lowest-header">0.00000000</span>
                        </li>
                        <li>
                            <span class="text-block">Volume</span>
                            <span class="no-block" id="volume-header">0.00000000</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
