<div class="main-wrapper">
  <div class="inner-content-sec">
     <div class="container-common">
        <div class="row">
           <div class="col-sm-12">
              <div class="login-block">
                <form>
                    <div class="profile-block">
                      <div class="profile-table">
                        <div class="pro-table-cell image-cell">
                          <div class="userpro-img">
                            <img src="{{userImage}}">
                          </div>
                        </div>
                        <div class="pro-table-cell">
                          <h4>{{userName}}</h4>
                          <span>{{email}}</span>
                          <a (click)="editProfile()" class="btn btn-signin">
                          <i class="far fa-edit"></i>
                            Edit Profile
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="authentication-block">
                      <div class="authentication-text clearfix">
                        <span>SMS Authentication </span>
                        <label class="switch">
                          <input type="checkbox" name="sms" [(ngModel)]="sms" (change)="switchAuth('SMS')">
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <div class="authentication-text clearfix">
                        <span>Google Authentication </span>
                        <label class="switch">
                          <input type="checkbox" name="google" [(ngModel)]="google" (change)="switchAuth('GA')">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<!--key Modal -->
<div class="modal fade common-modal" id="key" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel">
  <div class="modal-dialog max-WT-600" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-body key-body">
        	<div class="header-green header-transparent">
              <h4>Please enter the OTP for Google verification</h4>
              <button type="button" class="close modal-cross" (click)="getInfo()" data-dismiss="modal"><img src="assets/images/cross-icon.png"></button>
	        </div>
	       	<div class="form-inner-content">
		        <form>
		    		<div class="form-group">
	 	  	 	 	 	<div class="key-frame text-center" *ngIf="gValue == '1'">
                <img [src]="angularxQrCode" />
	 	  	 	 	 	</div>
	 	 	 	 	</div>
							<p class="mt20 text-center" *ngIf="gValue == '1'">{{secretKey}}</p>
						<div class="form-group">
								<input type="text" class="form-control" name="googleOtp" [(ngModel)]="googleOtp" maxlength="6" placeholder="Enter code generated by authenticator app" autocomplete="off"/>
						</div>
	 	 	 	 	<div class="mt30 text-center">
	 	 	 	 		<button class="btn btn-signin" [disabled]="!googleOtp" (click)="googleVerify()">Submit</button>	
	 	 	 	 	</div>
	 	 	 	 	
		      	</form>
		    </div>
	    </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade common-modal" id="sms-verify" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel">
  <div class="modal-dialog max-WT-600" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-body forgotpass-body">
        	<div class="header-green header-transparent">
            <h4 class="headingmall">Please enter the OTP for SMS verification</h4>
            <button type="button" class="close modal-cross" (click)="getInfo()" data-dismiss="modal"><img src="assets/images/cross-icon.png"></button>
	        </div>
	       	<div class="form-inner-content">
		        <form>
		    		<div class="form-group">
              <label>Enter OTP</label>
              <div class="custum-input-box  padd-input-box">
                <input type="text" class="form-control" name="smsOtp" [(ngModel)]="smsOtp" autocomplete="off" maxlength="4"/>
              </div>    
            </div>
            <div class="text-right mt10">
                <U style="color: #27a57f ;cursor: pointer;" (click)="resend()">Resend OTP</U>
            </div>
                
	 	 	 	 	<div class="mt30 text-center">
	 	 	 	 		<button class="btn btn-signin" data-toggle="modal" href="#otp" [disabled]="!smsOtp" (click)="smsVerify()">Submit</button>	
	 	 	 	 	</div>
	 	 	 	 	
		      	</form>
		    </div>
	    </div>
      </div>
    </div>
  </div>
</div>
