@import url("fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
*, html{
  padding:0; margin:0;
  box-sizing:border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	box-sizing:border-box;
  
}

input[type="text"], input[type="email"], input[type="search"], 
input[type="date"], input[type="time"], input[type="file"], 
textarea, button, input[type="password"], input[type="tel"], 
select {
  -webkit-appearance:none!important;
  -moz-appearance:none!important;
  appearance:none!important;
  box-shadow:none!important;
  border-radius:2px;
}
a, input, button, a:focus, input:focus, button:focus {outline:none!important;}
:focus {outline: -webkit-focus-ring-color auto 0px!important;}
img{max-width:100%;}
li{list-style-type:none;}

.r{box-shadow:inset 0px 0px 10px red;} .g{box-shadow:inset 0px 0px 10px green;} .b{box-shadow:inset 0px 0px 10px blue;}
.Dcell{display:table-cell!important; vertical-align:middle!important;}
.Dblock{display:block;}
.D-in-block{display:inline-block;}
.text_red{color:#fe4a4c!important;}
.text_white{color:#fff!important;}
.font16{font-size:16px!important;} .font14{font-size:14px!important;}
.redcol{color:#f26722!important;}
.yellowcol{color:#f3b972!important;}
.bluecol{color:#4a90e2!important;}
.whitecol{color:#fff!important;}
.bottom-0{bottom:0px!important}

.padd0{padding:0px!important;} .padd5{padding:5px!important;} .padd10{padding:10px!important;} .padd15{padding:15px!important;}
.mr0{margin:0px!important;}

.pLR5{padding-left:5px!important; padding-right:5px!important;}
.pLR6{padding-left:6px!important; padding-right:6px!important;}
.pLR10{padding-left:10px!important; padding-right:10px!important;}
.pLR15{padding-left:15px!important; padding-right:15px!important;}

.pL0{padding-left:0px!important;} .pL5{padding-left:5px!important;} .pL10{padding-left:10px!important;}
.pL15{padding-left:15px!important;} .pL20{padding-left:20px!important;} .pL25{padding-left:25px!important;}

.pR0{padding-right:0px!important;} .pR5{padding-right:5px!important;} .pR10{padding-right:10px!important;}
.pR15{padding-right:15px!important;} .pR20{padding-right:20px!important;} .pR25{padding-right:25px!important;}

.pr0{padding-right:0px!important;} .pr1{padding-right:1px!important;} .pr2{padding-right:0px!important;}
.pr3{padding-right:3px!important;} .pr4{padding-right:4px!important;} .pr5{padding-right:5px!important;}

.pt0{padding-top:0px!important;} .pt1{padding-top:1px!important;} .pt2{padding-top:0px!important;}
.pt3{padding-top:3px!important;} .pt4{padding-top:4px!important;}
.pt5{padding-top:5px!important;} .pt10{padding-top:10px!important;} .pt15{padding-top:15px!important;}
.pt20{padding-top:20px!important;} .pt25{padding-top:25px!important;} .pt30{padding-top:30px!important;} .pt35{padding-top:35px!important;}

.pb0{padding-bottom:0px!important;} .pb5{padding-bottom:5px!important;} .pb10{padding-bottom:10px!important;} .pb15{padding-bottom:15px!important;}
.pb20{padding-bottom:20px!important;} .pb25{padding-bottom:25px!important;} .pb30{padding-bottom:30px!important;} .pb35{padding-bottom:35px!important;}

.mt0{margin-top:0px!important;} .mt1{margin-top:1px!important;} .mt2{margin-top:2px!important;} .mt3{margin-top:3px!important;}
.mt4{margin-top:4px!important;} .mt5{margin-top:5px!important;} .mt6{margin-top:6px!important;} .mt7{margin-top:7px!important;} 
.mt8{margin-top:8px!important;} .mt9{margin-top:9px!important;} .mt10{margin-top:10px!important;} .mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;} .mt25{margin-top:25px!important;} .mt30{margin-top:30px!important;} .mt35{margin-top:35px!important;}
.mt40{margin-top:40px!important;} .mt45{margin-top:45px!important;} .mt50{margin-top:50px!important;}

.mb0{margin-bottom:0px!important;} .mb1{margin-bottom:1px!important;} .mb2{margin-bottom:2px!important;} .mb3{margin-bottom:3px!important;}
.mb3{margin-bottom:4px!important;} .mb4{margin-bottom:5px!important;} .mb5{margin-bottom:5px!important;} .mb6{margin-bottom:6px!important;} 
.mb7{margin-bottom:7px!important;} .mb8{margin-bottom:8px!important;} .mb9{margin-bottom:9px!important;} .mb10{margin-bottom:10px!important;} 
.mb15{margin-bottom:15px!important;} .mb20{margin-bottom:20px!important;} .mb25{margin-bottom:25px!important;} .mb30{margin-bottom:30px!important;} 
.mb35{margin-bottom:35px!important;} .mb40{margin-bottom:40px!important;} .mb45{margin-bottom:45px!important;} .mb50{margin-bottom:50px!important;}

.mr0{margin-right:0px!important;} .mr1{margin-right:1px!important;} .mr2{margin-right:2px!important;} .mr3{margin-right:3px!important;}
.mr4{margin-right:4px!important;} .mr5{margin-right:5px!important;} .mr6{margin-right:6px!important;} .mr7{margin-right:7px!important;}
.mr8{margin-right:8px!important;} .mr9{margin-right:6px!important;} .mr10{margin-right:10px!important;}

.mL0{margin-left:0px!important;} .mL1{margin-left:1px!important;} .mL2{margin-left:2px!important;} .mL3{margin-left:3px!important;}
.mL4{margin-left:4px!important;} .mL5{margin-left:5px!important;}

.mt-min0{margin-top:-0px!important;} .mt-min1{margin-top:-1px!important;} .mt-min2{margin-top:-2px!important;} .mt-min3{margin-top:-3px!important;}
.mt-min4{margin-top:-4px!important;} .mt-min5{margin-top:-5px!important;} .mt-min6{margin-top:-6px!important;} .mt-min7{margin-top:-7px!important;} 
.mt-min8{margin-top:-8px!important;} .mt-min9{margin-top:-9px!important;} .mt-min10{margin-top:-10px!important;}

.top-0{top:0px!important} .top-1{top:1px!important} .top-2{top:2px!important} .top-3{top:3px!important} .top-4{top:4px!important}
.top-5{top:5px!important} .top-10{top:10px!important} .top-15{top:15px!important} .top-20{top:20px!important} .top-25{top:25px!important}
.top-30{top:30px!important} .top-35{top:35px!important} .top-40{top:40px!important} .top-45{top:45px!important} .top-50{top:50px!important}
.top-55{top:55px!important} .top-60{top:60px!important} .top-65{top:65px!important} .top-70{top:70px!important} .top-75{top:75px!important}
.top-80{top:80px!important} .top-85{top:85px!important} .top-90{top:90px!important} .top-95{top:95px!important} .top-100{top:100px!important}

.topmin-0{top:-0px!important} .topmin-1{top:-1px!important} .topmin-2{top:-2px!important} .topmin-3{top:-3px!important} .topmin-4{top:-4px!important}
.topmin-5{top:-5px!important} .topmin-10{top:-10px!important}

.left-0{left:0px!important} .left-1{left:1px!important} .left-2{left:2px!important} .left-3{left:3px!important} .left-4{left:4px!important}
.left-5{left:5px!important} .left-10{left:10px!important} .left-15{left:15px!important} .left-20{left:20px!important} .left-25{left:25px!important}
.left-30{left:30px!important} .left-35{left:35px!important} .left-40{left:40px!important} .left-45{left:45px!important} .left-50{left:50px!important}
.left-55{left:55px!important} .left-60{left:60px!important} .left-65{left:65px!important} .left-70{left:70px!important} .left-75{left:75px!important}
.left-80{left:80px!important} .left-85{left:85px!important} .left-90{left:90px!important} .left-95{left:95px!important} .left-100{left:100px!important}

/*Global font size css*/
.f-size-14{font-size:14px!important;} .f-size-15{font-size:15px!important;} .f-size-16{font-size:16px!important;} .f-size-17{font-size:17px!important;}
.f-size-18{font-size:18px!important;} .f-size-19{font-size:19px!important;} .f-size-20{font-size:20px!important;} .f-size-21{font-size:21px!important;}
.f-size-22{font-size:22px!important;} .f-size-23{font-size:23px!important;} .f-size-24{font-size:24px!important;} .f-size-25{font-size:25px!important;}

/*Global width css*/
.max-WT-320{width:100%; max-width:320px!important;} .max-WT-360{width:100%; max-width:360px!important;} .max-WT-480{width:100%; max-width:480px!important;}
.max-WT-600{width:100%; max-width:600px!important;} .max-WT-767{width:100%; max-width:767px!important;} .max-WT-991{width:100%; max-width:991px!important;}
.max-WT-20{width:100%; max-width:20px!important;} .max-WT-30{width:100%; max-width:30px!important;} .max-WT-40{width:100%; max-width:40px!important;}
.max-WT-50{width:100%; max-width:50px!important;} .max-WT-60{width:100%; max-width:60px!important;} .max-WT-70{width:100%; max-width:70px!important;}
.max-WT-80{width:100%; max-width:80px!important;} .max-WT-90{width:100%; max-width:90px!important;}
.max-WT-100{width:100%; max-width:100px!important;} .max-WT-110{width:100%; max-width:110px!important;} .max-WT-120{width:100%; max-width:120px!important;} 
.max-WT-130{width:100%; max-width:130px!important;} .max-WT-140{width:100%; max-width:140px!important;} .max-WT-150{width:100%; max-width:150px!important;} 
.max-WT-160{width:100%; max-width:160px!important;} .max-WT-170{width:100%; max-width:170px!important;} .max-WT-180{width:100%; max-width:180px!important;}
.max-WT-190{width:100%; max-width:190px!important;} .max-WT-200{width:100%; max-width:200px!important;}
.max-WT-250{width:100%; max-width:250px!important;} .max-WT-300{width:100%; max-width:300px!important;} .max-WT-350{width:100%; max-width:350px!important;}
.max-WT-400{width:100%; max-width:400px!important;} .max-WT-450{width:100%; max-width:450px!important;} .max-WT-500{width:100%; max-width:500px!important;}

/*Start Checkbox design*/
.checkbox-design {position:relative; padding-left:22px; cursor:pointer; font-weight:300!important; color:#222!important;}
.checkbox-design input[type="checkbox"]{opacity:0; position:absolute; left:0; top:0;}
.checkbox-design input[type="checkbox"] ~ span{position:absolute; left:0px; top:3px; width:16px; height:16px; border:1px solid #e1e1e1; background:#fff; border-radius:2px;}
.checkbox-design input[type="checkbox"]:checked ~ span{border:1px solid #fff; background:#27a57f; border-radius:2px;}
.checkbox-design input[type="checkbox"] ~ span:before{opacity:0; content:''; position:absolute; left:4px; top:0px; width:6px; height:10px; border-right:2px solid #fff; border-bottom:2px solid #fff; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:rotate(0deg) scale(0); -webkit-transform:rotate(0deg) scale(0); -ms-transform:rotate(0deg) scale(0);}
.checkbox-design input[type="checkbox"]:checked ~ span:before {opacity:1; transform:rotate(45deg) scale(1); -webkit-transform:rotate(45deg) scale(1); -ms-transform:rotate(45deg) scale(1);}

.checknew-design {position:relative; padding-left:15px; padding-right:2px; cursor:pointer; font-weight:500; font-size:10px; color:#d8d8d8!important;}
.checknew-design input[type="checkbox"]{opacity:0; position:absolute; left:0; top:0;}
.checknew-design input[type="checkbox"] ~ span{position:absolute; left:0px; top:0px; width:12px; height:11px; border:1px solid #2ebe93; background:#018a61; border-radius:2px;}
.checknew-design input[type="checkbox"] ~ span:before{opacity:0; content:''; position:absolute; left:3px; top:0px; width:4px; height:7px; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:rotate(0deg) scale(0); -webkit-transform:rotate(0deg) scale(0); -ms-transform:rotate(0deg) scale(0);}
.checknew-design input[type="checkbox"]:checked ~ span:before {opacity:1; transform:rotate(45deg) scale(1); -webkit-transform:rotate(45deg) scale(1); -ms-transform:rotate(45deg) scale(1);}
/*End Checkbox design*/

.redio-design {position:relative; padding-left:20px; padding-right:2px; cursor:pointer; font-weight:600; font-size:12px; color:#d8d8d8!important;}
.redio-design input[type="radio"]{opacity:0; position:absolute; left:0; top:0;}
.redio-design input[type="radio"] ~ span{position:absolute; left:0px; top:1px; width:14px; height:14px; border-radius:100%; border:1px solid #2ebe93;}
.redio-design input[type="radio"] ~ span:before{opacity:0; content:''; position:absolute; left:1px; top:1px; width:10px; height:10px; background:#2ebe93; border-radius:100%; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:scale(0); -webkit-transform:scale(0); -ms-transform:scale(0);}
.redio-design input[type="radio"]:checked ~ span:before {opacity:1; transform:scale(1); -webkit-transform:scale(1); -ms-transform:scale(1);}

.container-common{width:100%; max-width:1360px; margin:0 auto; padding-left:15px; padding-right:15px;}

header{position:fixed; background:#fff; top:0px; left:0px; right:0px; width:100%; min-height:70px; z-index:100; padding-right:220px; border-bottom:1px solid #999999;/*box-shadow:0px 0px 5px rgba(0,0,0,0.5);*/}
body.modal-open header {width: calc(100% - 17px);}
body.exchange-body{background:#fff;}
body.exchange-body.white{background:#fff;}

.logo{width:100%; max-width:200px; height:auto; margin-top:13px; margin-left:20px; position:absolute; left:0px; top:0px; transition:400ms; transform:translateY(0%); -webkit-transform:translateY(0%); -ms-transform:translateY(0%);}
/*.logo .logo-night{display:none;}*/
/*.logo-night{display:none;}*/

.logo.resize{max-width:80px;}
.logo.logo-hide{max-width:90px; margin-top:10px;}
.logo a{display:block;}
.logo img{width:100%; height:auto;}
.menu{float:right; width:auto; position:relative;}
.menu ul{margin:0; padding:0; list-style:none;}
.menu ul li{float:left; position:relative; text-transform:uppercase;}
.menu ul li a{display:inline-block; padding:34px 20px 34px 20px; background:none; color:#27a57f; text-decoration:none; font-size:14px; font-weight:600; transition:300ms;}
.menu ul li a:hover, .menu ul li a.active{background:none;color:#0a151c;}
.logSign-box{position:absolute; right:0; top:0; padding:33px 25px 33px 0px;}
.btn-account{border:1px solid #0a151c; font-size:14px; background:#fff; color:#0a151c; padding:7px 16px; margin:0px 2px; font-weight:500;}
.btn-account:hover, .btn-account:focus{text-decoration:none; color:#fff; background:#27a57f; border:1px solid #27a57f;}

.afterLogin-box{position:absolute; right:0; top:0; padding-right:25px;}
.profile-dropdown{display:inline-block; height:90px;}
.profile-dropdown .dropdown-toggle {background-color:transparent; padding:0px; text-align:left; border-left:1px solid #c8c8c8; padding-right:55px; padding-left:20px; height:90px; border-radius:0px; overflow:hidden;}
.profile-dropdown .dropdown-toggle h6{margin:0; color:#0a151c; font-weight:500;}
.profile-dropdown .dropdown-toggle h4{margin:0; margin-top:3px; color:#0a151c; font-weight:600; font-size:14px; white-space:normal; width:90px;}
.profile-dropdown .dropdown-toggle img{position:absolute; right:0px; top:50%; margin-top:-25px; width:50px; height:50px; border-radius:100%; border:1px solid #27a57f;}
.profile-dropdown ul.dropdown-menu{background-color:#0a151c; border-radius:0px 0px 4px 4px; margin-top:-1px; padding:4px 0; min-width:170px;}
.profile-dropdown ul.dropdown-menu li a{padding:7px 12px; color:#d8d8d8; font-size:13px; border-top:1px solid #192832;}
.profile-dropdown ul.dropdown-menu li:first-child a{border-top:none;}
.profile-dropdown ul.dropdown-menu li a:hover{background-color:#016d4c; }
.btn-noification{color:#016d4c; padding:24px 8px; font-size:30px; position:relative; display:inline-block; vertical-align:top;}
.btn-noification:hover{color:#0a151c;}
.btn-noification span{position:absolute; width:20px; height:20px; border:1px solid #27a57f; right:5px; top:50%; margin-top:-20px; background:#fff; padding:0px; text-align:center; font-size:10px; line-height:20px; font-weight:400; color:#0a151c;}

.btn-mobmenu{display:none; position:fixed; top:14px; right:23px; width:20px; height:40px; border-radius:0px; background:transparent; color:#0a151c; font-size:20px; z-index:101; line-height:30px; padding:6px 0px;}
/*.btn-mobmenu:hover, .btn-mobmenu:focus, .btn-mobmenu:active.focus{color:#27a57f;}*/
.btn-mobmenu.active.focus, .btn-mobmenu.active:focus, .btn-mobmenu.focus, 
.btn-mobmenu:active.focus, .btn-mobmenu:active:focus, .btn-mobmenu:focus{color:#27a57f!important; box-shadow:none;}

header.changelogin .btn-mobmenu{color:#27a57f;}
header.changelogin .btn-modetype{color:#27a57f;}
header.changelogin .profile-dropdown .dropdown-toggle h4{color:#d8d8d8;}
header.changelogin .profile-dropdown .dropdown-toggle h6{color:#27a57f;}
header.changelogin  .profile-dropdown .dropdown-toggle{border-left-color:#192832;}

.btn-modetype{position:absolute; right:3px; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); background:transparent; color:#0a151c; padding:0px; cursor:pointer;}

.btn-modetype .btn.dropdown-toggle{border-radius:0px; padding:29px 5px; background:transparent; font-size:20px;}
.btn-modetype .btn.dropdown-toggle:hover, .btn-modetype .btn.dropdown-toggle:focus{color:#27a57f;}
.modeDropdown{border-radius:0px; background:#fff; min-width:480px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4); border:none; padding:0; color:#222; margin-top:0;
}
.modeDropdown-head{display:block; width:100%; height:auto; background:#eee; padding:15px 17px;}
.modeDropdown-head h4{margin:0px; color:#464646; font-weight:400; font-size:16px;}
.modeDropdown-body{display:block; width:100%; padding:15px;}
.modeDropdown-body p{margin:0px;}
.modeDropdown-body p+p{margin-top:20px;}
.modeDropdown-footer{display:block; width:100%; padding:20px 50px;}
.modeDropdown-footer:after{content:''; display:table; clear:both;}

label.switchTheme{float:right; margin-bottom:0;}
.switchTheme {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 14px;
}

.switchTheme input {display:none;}

.switchTheme .sliderTheme {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.switchTheme .sliderTheme:before {
  position: absolute;
  content: "";
  top: -3px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
  transition: -webkit-transform linear 300ms, background-color linear 300ms;
  transition: transform linear 300ms, background-color linear 300ms;
  will-change: transform;
  background-color: #fafafa;
}

.switchTheme input:checked + .sliderTheme {
  background-color: #27a57f;
}

.switchTheme input:focus + .sliderTheme {
  box-shadow: 0 0 1px #27a57f;
}

.switchTheme input:checked +  .sliderTheme:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliderThemes */
.switchTheme .sliderTheme.round {
  border-radius: 34px;
}

.switchTheme .sliderTheme.round:before {
  border-radius: 50%;
}

ul.drpdown{display:none; margin:0; padding:0; list-style:none; position:absolute; left:auto; right:0; top:100%; width:220px;}
ul.drpdown li{width:100%; display:block;}
ul.drpdown li a{width:100%; background:#481125; padding:10px 10px; font-size:14px; border-bottom:1px solid #fff;}
ul.drpdown li:last-child a{border-bottom:1px solid transparent;}
.menu ul li:hover a ~ ul.drpdown{display:block;}
.header_bg .menu ul li a{padding:25px 20px;}
.btn-signup{position:fixed; top:39px; right:30px; padding:0px; width:80px; height:32px; border-radius:3px; background:#f26722; color:#000; font-size:14px; font-weight:600; transition:300ms;}
.header_bg .btn-signup{top:20px;}


.topbanner{width:100%; height:auto; position:relative;}
.topbanner .topbanner-inner .item{width:100%; background-repeat:no-repeat; background-size:initial; background-position:top center;}
.banner-content{display:table; width:100%; height:calc(100vh - 140px); padding:80px 100px 0px 100px;}
.banner-contentin{display:table-cell; width:100%; height:100%; vertical-align:middle; text-align:left; color:#fff!important;}
.banner-textbox{display:block; width:100%; max-width:810px; height:auto;}
.banner-textbox h1{margin:0; font-size:4.8em; font-weight:400; text-shadow:0px 0px 10px rgba(0,0,0,0.6);}
.banner-textbox h2{margin:0; font-size:4.5em; color:#27a57f; font-weight:700; text-shadow:0px 0px 10px rgba(0,0,0,0.6);}
.btn-banner{display:inline-block; margin-top:30px; cursor:pointer; background:#fff; text-decoration:none!important; color:#222; font-size:20px; font-weight:700; border-radius:30px; padding:15px 30px;}
.btn-banner:hover, .btn-banner:focus{background:#27a57f; color:#fff;}
.banner-indicators li{width:20px; height:8px; border-radius:8px; background:#404040; border:none; margin:0; transition:300ms;}
.banner-indicators li.active{width:40px; height:8px; border-radius:8px; background:#27a57f; border:none;}


.folder-explore{position:absolute; right:0; top:0; border:1px solid #dfdfdf; width:70px; height:70px; border-radius:70px; z-index:1;}
.folder-explore a{display:block; width:100%; height:100%; border:4px solid #eee; background:#dfdfdf; border-radius:100%;}
.folder-explore a img{width:100%; height:auto; padding:12px; margin-top:3px; cursor:pointer;}

/*Add contact sectipon*/
.heading-text{display:block; width:100%; text-align:center; margin-bottom:30px; position:relative;}
.heading-text h3{margin:0; margin-bottom:15px; color:#4e4e4e; font-size:28px;}
.heading-text p{margin:0px; margin-bottom:20px; font-size:16px; color:#707070; font-weight:400;}
.addContact-box{font-family:'KabelBkBT'; display:block; width:100%; max-width:480px; margin:0 auto;}
.common-form input.form-control{height:48px; border:1px solid #d7d7d7; border-radius:4px; color:#999;}
.common-form select.form-control{height:48px; border:1px solid #d7d7d7; border-radius:4px; color:#999;}
.select-dropdown {background: #fff url(../images/select-arrow.png)no-repeat scroll calc(100% - 10px) 50%/15px auto;}
.btn-submit{background:#1e5482; color:#fff; border-radius:2px; padding:12px 10px; font-size:16px;}
.btn-submit:hover{color:#fff; background:#f26722;}

/*Contact tab*/
.contactTab.nav-justified{font-family:'KabelBkBT'; width:100%; max-width:767px; margin:0 auto; border-bottom:2px solid #f26722; position:relative;}
.contactTab.nav-justified:before{content:''; position:absolute; bottom:-2px; left:50%; width:calc(100% + 60px); height:2px; background:#f26722; transform:translateX(-50%); -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%)}
.contactTab.nav-justified>li>a{border-radius:0px; border:none; font-size:20px; padding:15px 0px; margin:0 4px; border-bottom:5px solid #fff;}
.contactTab>li>a{background:#d6d6d6; color:#333;}
.contactTab>li>a:hover{background:#f26722; color:#fff;}
.contactTab>li.active>a{color:#24ad6b;}
.contactTab.nav-justified>.active>a, 
.contactTab.nav-justified>.active>a:focus, 
.contactTab.nav-justified>.active>a:hover{
  border:none; background:#f26722; color:#fff; border-bottom:5px solid #f26722;
}
.contactTab-content{padding-top:20px;}
.contact-list{display:block; width:100%; position:relative;}
.contact-list ul{margin:0; padding:0; list-style:none;}
.contact-list ul li{display:block; width:100%; position:relative; border:1px solid #d8d8d8; margin-bottom:15px; border-radius:2px; padding:25px 30px;}
.contact-list ul li:nth-child(even){background:#eee;}
.contact-list ul li:after{content:''; display:table; clear:both;}
.contact-content{float:left; width:33.33%;}
.contact-content.contact-2boxes{float:left; width:calc(100% - 60px);}
.contact-content:nth-child(2){width:calc(66.66% - 60px);}
.contact-content:last-child{width:60px;}

.contact-content h4{margin:0; color:#707070; font-size:15px; margin-bottom:5px;}
.contact-content h4.head2{color:#f26722; font-style:italic; margin-bottom:0; font-size:15px;}
.contact-arrow{float:right; display:inline-block; width:40px; height:24px;}
.contact-arrow img{width:100%; height:auto;}

/*Messaege List*/
.message-list{display:block; width:100%; position:relative;}
.message-list ul{margin:0; padding:0; list-style:none;}
.message-list ul li{display:block; width:100%; position:relative; border:1px solid #d8d8d8; margin-bottom:15px; border-radius:2px; padding:25px 30px;}
.message-list ul li:after{content:''; display:table; clear:both;}
.message-list ul li:nth-child(even){background:#eee;}
.message-content{width:70%;}
.message-content h4{margin:0; color:#707070; font-size:15px; line-height:18px;}
.message-list ul li h4.date{margin:0px; margin-top:-15px; float:right; display:inline-block; color:#f26722; font-style:italic; font-size:14px;}

/*modal css*/
.common-modal .modal-content{background:transparent; box-shadow:none; border:none;}
.common-modal .modal-header{text-align:center; padding:8px 10px; border-bottom:none;}
.close-modal{float:none; margin:0 auto; opacity:1;}
.close-modal img{width:36px; height:36px; border-radius:36px; transform:rotate(0deg); -ms-transform:rotate(0deg); -webkit-transform:rotate(0deg); transition:500ms;}
.close-modal:hover{opacity:1;}
.close-modal:hover img{transform:rotate(180deg); -ms-transform:rotate(180deg); -webkit-transform:rotate(180deg); opacity:1;}
.common-modal .modal-body{padding:0px; background:#fff;}
.loginTab.nav-justified>li>a{border-radius:0px; padding:15px 10px; color:#fff; border-bottom:0px; font-size:14px;}
.loginTab>li>a, .loginTab>li>a:hover{background:#f26722; color:#fff; border-color:transparent;}
.loginTab>li.active>a{color:#333;}
.common-modal .modal-body .panel-body {padding: 15px 30px;}
.formbox{display:block; width:100%; max-width:480px; height:auto; margin:0 auto; padding-top:20px;}
.form-common .form-group{margin-bottom:15px;}
.form-common .form-group label.control-label{margin-bottom:5px; font-weight:500; font-size:14px; color:#555;}
.field-box{width:100%; position:relative;}
.field-box .field-icon{position:absolute; width:45px; height:45px; top:0px; left:0px;}
.field-box .field-icon:before{content:''; position:absolute; width:1px; height:28px; top:8px; right:0px; background:#d9d9d9;}
.field-box .field-icon img{display:block; width:25px; height:auto; margin:11px auto;}
.form-common input.form-control{border-radius:4px; height:44px; border:1px solid #d9d9d9; padding-left:55px; color:#bababa;}
.form-common.signup input.form-control{border-radius:4px; height:44px; border:1px solid #d9d9d9; padding-left:10px; color:#bababa;}
.field-box.has-error input.form-control{border:1px solid #f00;}
.field-box.has-error label.error{font-weight:600; font-size:12px; color:#f00;}
.forgot-pass{display:block; color:#555; font-size:14px; text-decoration:underline;}
.forgot-pass:hover{color:#f26722; text-decoration:none;}
.guest-user{color:#f26722; font-weight:600;  text-decoration:underline; display:inline-block; margin:10px 0px;}
.guest-user:hover{color:#24ad6b; text-decoration:none;}
.loginbox-other{display:block; width:100%; text-align:center; position:relative;}
.loginbox-other h5{margin:0px; margin-bottom:15px; font-weight:600; font-size:16px; color:#707070;}
.social-login{display:block; width:100%; position:relative;}
.social-login a{display:block; width:100%; height:44px; margin:5px 0px; text-align:center; color:#fff; text-decoration:none; position:relative; border-radius:4px; font-size:16px; line-height:44px;}
.social-login a.facebook{background:#415d95;}
.social-login a.yahoo{background:#6b1dc9;}
.social-login a.googlePlus{background:#de4e37;}
.social-login a.windows{background:#f35021;}
.btn-login{background:#1e5482; color:#fff; border-radius:2px; padding:10px 10px; font-size:16px;}
.btn-login:hover{color:#fff; background:#f26722;}
.mandatory-text{color:#707070;}

/*Success Modal css*/
.successModal{display:block; width:100%; height:auto; padding:50px 50px; text-align:center;}
.successModal h5{margin:0; color:#525252;}
hr.success{border-top:1px solid #1e5482; max-width:220px; margin:20px auto;}
/*.successModal p{margin:0; font-size:22px; color:#525252;}*/
.resend-link{display:inline-block; color:#1e5482; font-size:16px; text-decoration:underline; margin-top:20px;}

/*Filter message modal*/
.input-group.date input{border-right:0px;}
.btn-calendar {background:transparent;border-right:1px solid #ccc!important;padding:14px 8px;font-size:18px;color:#707070; border-radius:0px 4px 4px 0px!important;}

.form-join input.form-control{border:1px solid #a4a4a4; height:38px;}
.form-join .btn-joinNow{background:#f26722; font-weight:600; padding:8px 15px;}

.coincard-slide .slick-slide:nth-child(odd){background:#27a17c;}
.coincard-slide .slick-slide:nth-child(even){background:#37b58f;}
.coincard-box{display:table; width:100%; height:140px; position:relative; text-align:center;}
.coincard-boxin{display:table-cell; width:100%; height:100%; vertical-align:middle;}
.coincard-box .coincard-cont{display:inline-block; width:100%; max-width:240px; position:relative; text-align:left; padding-left:70px;}
.coincard-img{position:absolute; width:60px; height:60px; left:0; top:0;}
.coincard-img img{display:block; width:100%; height:100%;}
.coincard-cont h4{font-family:'Arial'; margin:0; margin-bottom:5px; color:#fff; font-size:20px;}
.coincard-cont ul.coliList{margin:0; padding:0; list-style:none; font-size:0;}
.coincard-cont ul.coliList li{display:inline-block; font-size:12px; color:#fff; padding:0px 6px;}
.coincard-cont ul.coliList li strong.red{color:#f44c58;}
.coincard-cont ul.coliList li:first-child{padding-left:0;}

.platform-sec{display:block; width:100%; height:auto; position:relative; padding-top:40px;}
.heaingText{display:block; width:100%; height:auto;}
.heaingText h1{margin:0; font-weight:700; color:#222; font-size:2.7em;}
.heaingText p{margin:0; margin-top:15px; color:#333; font-weight:400; font-size:18px; line-height:28px;}

.platform-boxsec{display:block; width:100%; padding:40px 50px;}
.platform-middle{display:block; width:100%; height:auto; max-width:380px; margin:0 auto;}
.platform-middle img{width:100%; height:auto;}
.platform-colmLeft{display:block; width:100%; position:relative;}
.platform-boxs{display:block; width:100%; height:auto; position:relative;}
.platform-boxs+.platform-boxs{margin-top:40px;}
.platform-boxs h4{margin:0; margin-bottom:15px; font-weight:700; color:#222222; font-size:20px; text-transform:uppercase;}
.platform-boxs p{display:inline-block; margin:0; font-size:13px; color:#777; font-weight:500; width:100%; max-width:235px;}
.platform-colmLeft .platform-boxs{text-align:right; padding-right:100px;}
.platform-colmLeft .platform-boxs:nth-child(1){margin-left:20px;}
.platform-colmLeft .platform-boxs:nth-child(2){margin-left:-50px;}
.platform-colmRight .platform-boxs{text-align:left; padding-left:100px;} 
.platform-colmRight .platform-boxs:nth-child(1){margin-left:-20px;}
.platform-colmRight .platform-boxs:nth-child(2){margin-left:50px;}
.platform-boxs .platform-icon{position:absolute; width:70px; height:70px; border-radius:100%; top:0; background:#27a57f;}
.platform-boxs .platform-icon img{width:100%; height:100%;}
.platform-colmLeft .platform-boxs .platform-icon{right:0px;}
.platform-colmRight .platform-boxs .platform-icon{left:0px;}

.start-trading{display:block; width:100%; background-image:url(../images/start-trading-bg.jpg); background-repeat:no-repeat; background-position:center; background-size:cover;}
.start-trading-cont{display:table; width:100%; height:400px; text-align:center; color:#fff;}
.start-trading-contin{display:table-cell; width:100%; height:100%; vertical-align:middle;}
.start-trading-cont h1{margin:0; font-weight:700; text-transform:uppercase;}
.start-trading-cont p{margin:25px 0; font-weight:400; font-size:22px; text-transform:uppercase;}
.btn-stratTrad{display:inline-block; margin-top:10px; cursor:pointer; background:#fff; text-decoration:none!important; color:#222; font-size:20px; font-weight:700; border-radius:30px; padding:15px 30px;}
.btn-stratTrad:hover, .btn-stratTrad:focus{background:#f44e5a; color:#fff;}

.wave-section{display:block; width:100%; height:400px; background-image:url(../images/wave-bg.png); background-repeat:no-repeat; background-position:center 0px; background-size:cover; padding-top:250px;}
.wavebox{display:block; width:100%; height:100px; position:relative; color:#fff; border-right:1px solid rgba(255,255,255,0.6); padding:10px 15px;}
.wavebox:after{content:''; display:table; clear:both;}
.wave-section .col-sm-3:last-child .wavebox{border:none;}
.wavebox h4{margin:0; font-size:20px;}
.wavebox h1{margin:0; font-size:3.8em; font-weight:700; line-height:44px;}

.advance-sec{display:block; width:100%; background-image:url(../images/advance-bg.jpg); background-repeat:no-repeat; background-position:center 0px; background-size:cover;}
.advance-content{display:table; width:100%; height:600px; position:relative; padding-left:30px;}
.advance-contentin{display:table-cell; width:100%; height:100%; vertical-align:middle;}
.advance-content h1{margin:0; margin-bottom:10px; font-weight:700; color:#222; font-size:2.8em;}
.advance-content p{font-size:20px;}

.tradeTable-sec{display:block; width:100%; height:auto; position:relative; padding:40px 0px;}
.heading-table{margin:0; color:#222; font-weight:700;}
.tableTrade{border:1px solid #bcbcbc;}
.tableTrade>thead>tr>th{border:none; background:#27a57f; color:#fff; font-weight:600; font-size:14px; padding:15px 20px;}
.tableTrade>thead>tr>th:first-child{width:160px;}
.tableTrade>thead>tr>th:last-child{text-align:right;}
.tableTrade>tbody>tr>td{border:none; color:#222; font-weight:600; font-size:14px; padding:15px 20px;}
.tableTrade>tbody>tr>td:last-child{text-align:right;}
.table-striped.tableTrade>tbody>tr:nth-of-type(odd){background:#ffffff;}
.table-striped.tableTrade>tbody>tr:nth-of-type(even){background:#f1f1f1;}
.more-market{display:inline-block; color:#777; font-weight:500; text-decoration:underline; margin-top:10px;}
.more-market:hover, .more-market:focus{color:#27a57f;}



/*--------Dashboard CSS--------*/
.dashboard-main{position:relative; width:100%; padding-top:89px;}
.dashboard-main:after{content:''; display:table; clear:both;}
.dashboard-left {width:400px; min-height:calc(100vh - 148px); float:left; background: #fff; padding: 15px 15px;border-right: 1px solid #999999;}
.dashboard-right{width:calc(100% - 400px); float:left;}
.exchange-chart{padding-right:15px; padding-top:15px;}
.dashboard-body{width:100%; background:#fff; padding-left:15px; padding-right:15px;}






/*.exchange-page-dark {margin-top:90px;}*/
/*.content_section {padding:20px 0px;}*/
/*.sidebar{width:400px;color: #fff;float: left;}*/
/*.exchange-chart{width: 100%;max-width: calc(100% - 410px);float: right;}*/
.exchange-chart img{max-width: 100%;width: 100%;}
.exchange-chart .panel-group{margin-bottom: 5px;}
.exchange-page-dark table{background: #016d4c;width: 100%; border-radius:4px;}
.panelTop{background:#016d4c; padding:10px; box-shadow:none; position:relative;}
.ellipsis-icon{position:absolute; right:5px; top:5px; color:#1be8aa;}
.ticker-top{font-size: 12px;margin-bottom: 5px;}
.ticker-top tr td{padding:0px 5px; color:#d8d8d8; font-size:13px; font-weight:500;}
.ticker-top tr td h5{line-height:16px;margin: 0; font-size:15px; font-weight:600; margin-bottom:2px;}

.exchange-page-dark .panel-group .panel-heading+.panel-collapse>.list-group,
.exchange-page-dark .panel-group .panel-heading+.panel-collapse>.panel-body{
  border-top:1px solid #016647;
}
.exchange-page-dark  .panel-group .panel{border: 0; background: #016647; overflow:hidden;}
.exchange-page-dark  .panel-default>.panel-heading {color:#fff; background-color: #007955; padding: 0; border:0;position: relative;}
.exchange-page-dark  .panel-default>.panel-heading:after {content:''; display:table; clear:both;}

.exchange-page-dark  .panel-title {float:left;}
.exchange-page-dark  .panel-title>a, .panel-title>a:active {
    display: block;
    padding:12px 7px;
    color: #d8d8d8;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}
.exchange-page-dark .panel-heading .panel-title>a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float:left;
   transition: all 0.5s;
   font-size: 12px;
   margin-right:5px;
   -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
.exchange-page-dark .panel-heading .panel-title>a.collapsed:before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.exchange-page-dark .panel-heading .panel-title.no-collaps>a:before {content:'';}
.exchange-page-dark .nav-tabs > li.active > a,.exchange-page-dark  .nav-tabs > li.active > a:focus,.exchange-page-dark  .nav-tabs > li.active > a:hover { border-width: 0; }
.exchange-page-dark .nav-tabs{border-bottom:2px solid transparent; width: auto; float: right;}
.exchange-page-dark .nav-tabs > li > a {border:none; border-radius:0; margin-right:0px; color:#d8d8d8; border-bottom:none; font-size:13px; font-weight:500; padding:10px 6px;}
.exchange-page-dark .nav-tabs > li > a>i{color:#67d3b3;}
.exchange-page-dark .nav-tabs > li.active > a,.exchange-page-dark  .nav-tabs > li > a:hover { color: #d8d8d8!important; background: transparent; }
.exchange-page-dark .nav-tabs > li > a::after { content: ""; background: #27a57f; height:1px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); -webkit-transform: scale(0); -ms-transform: scale(0); }
.exchange-page-dark .nav-tabs > li.active > a::after,
.exchange-page-dark  .nav-tabs > li:hover > a::after { 
  transform: scale(1);  -webkit-transform: scale(1);  -ms-transform: scale(1); 
}
.exchange-page-dark .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.exchange-page-dark .tab-content{padding:0px}

#Tickers{position:relative; }
.sidebar .panel-body {padding:0;}
.sidebar .panel-body .table-call-layout{padding: 0 15px;}
.sidebar ul.nav{/*position: absolute;top: 0;right: 0;*/}

/*.form-margin{padding:0 10px;}*/
.form-margin .form-control{background-color: #007451!important;border-radius: 0;border: 1px solid #007451; color:#d8d8d8; font-size:13px; height:32px;}
.arrow-select {
  background: transparent url(../images/select-arrow1.png) no-repeat scroll calc(100% - 10px) 50%/10px auto!important;
}
.btcEuroList {
  background: #27a57f url(../images/select-arrow2.png) no-repeat scroll calc(100% - 10px) 50%/15px auto!important; border:none; border-radius:0; color:#fff; font-weight:600; max-width:160px; color:#d8d8d8; font-size:16px; padding:5px 8px; height:30px; 
}
.selectTool {
  background: #007451 url(../images/select-arrow2.png) no-repeat scroll calc(100% - 10px) 50%/15px auto!important; border:1px solid #27a57f; border-radius:0; color:#fff; max-width:130px; color:#d8d8d8; font-size:14px; padding:5px 8px; height:30px; font-weight:500; display:inline-block;
}
.form-margin .form-group{margin-bottom:5px; margin-left:0px!important; margin-right:0px!important;}
.form-margin .form-group label.control-label{font-weight:500; color:#d8d8d8; font-size:12px;}
.buySell{font-size:11px; color:#d8d8d8; font-weight:500;}
.form-margin .checkbox-inline:last-child{margin-left: 0;}
.form-margin label{font-weight:400;color: #6b6b6b;}
.btn.btnBuy, .btn.btnSell{padding:8px 12px; font-weight:500; border:0; color:#d8d8d8;}
.btn.btnBuy{background:#1bab3a;}
.btn.btnSell{background:#9d2632;}

.table-call-layout{max-height:290px;overflow: auto;overflow-x: hidden;}
#Trades .table-call-layout{height: 235px;}
#Trades .panel-body{padding-top: 0;}



.order-book-table{width: 49%;float: left;}
.order-book-red-table{float: right;}
.pR5{padding-right: 5px!important;}
.pL5{padding-left: 5px!important;}

.order-trade{overflow: hidden;}
#Position table{margin: 0;}
#Position table tr td:first-child,#Position table tr th:first-child{text-align: left;}
#Position table tr td,#Position table tr th {color: #777575; font-size: 14px;border-bottom: 1px solid #33434c;text-align: center;font-weight: 400;padding: 5px 10px; }
#Position table tr th {font-weight: 500; font-size: 14px; color: #b7b7b7; }

#Orders table{margin: 0;}
#Orders table tr td:first-child,#Orders table tr th:first-child{text-align: left;}
#Orders table tr td,#Orders table tr th {color: #777575; font-size: 14px;border-bottom: 1px solid #33434c;text-align: center;font-weight: 400;padding: 5px 10px; }
#Orders table tr th {font-weight: 500; font-size: 14px; color: #b7b7b7; }

.book-table{}
.book-table tr th{font-weight: 500; font-size: 14px; color: #b7b7b7;}
.book-table tr td{color:#777575;font-size: 14px;}
.book-table.squish-right td:first-child{padding-left:15px;text-align: left;}
.row-alert-icon{color: #434b4f;position: absolute;left:0px;top:0px;display: none;}
.book-table tr:hover .row-alert-icon{display: block;}


.custom_header .navbar{border: 0;}
.custom_header .nav > li > a {font-weight: 500;}
.custom_header .nav > li > a.active{background:#152b36; }
.nav-hdng,.profit-list > li p {font-weight: 500;}
.cust-navbar-nav>li>a,.logSign-box>.btn-group>.btn{font-weight: 500;}
.txt_lg{font-weight: 500;font-size: 14px;}
.sidebar .panel-group {margin-bottom: 5px; }

.table-exchange{border:none; background:transparent; margin-bottom:0;}
.table-exchange>thead>tr>th{border:none; background:#016647; font-size:12px; font-weight:500; color:#d8d8d8; text-align:center;}
.table-exchange>tbody>tr:nth-of-type(odd){background-color:#007451;}
.table-exchange>tbody>tr:nth-of-type(even){background-color:#016647;}
.table-exchange>tbody>tr>td{border:none; text-align:center;}
.table-exchange>tbody>tr>td:first-child{text-align:left;}
.table-exchange>tbody>tr>td>h6{margin:0; font-weight:500; color:#d8d8d8;}
.table-exchange>tfoot>tr>th{border-top:1px solid #27a57f; font-size:12px; font-weight:600; color:#d8d8d8; text-align:right; padding:4px 15px;}
.panel-bdr-btm{border-bottom:1px solid #27a57f!important;}

.table-ticker{border:none; background:transparent; margin-bottom:0;}
.table-ticker>thead>tr>th{border:none; background:#016647; font-size:12px; font-weight:600; color:#d8d8d8;}
.table-ticker>thead>tr>th:first-child{padding-left:0px;}
.table-ticker>tbody>tr>td{border:none; background:#016647; border-top:1px solid #0c8963; font-size:12px; font-weight:500; color:#d8d8d8; vertical-align:middle;}
.table-ticker>tbody>tr>td:first-child{padding-left:0px;}
.table-ticker>tbody>tr>td:first-child span{float:left; margin-right:3px;}
.table-ticker>tbody>tr>td:first-child span img{width:9px; height:auto;}
.table-ticker>tbody>tr>td>h6{margin:0; font-size:11px; font-weight:500; color:#d8d8d8;}
.table-ticker>tfoot>tr>th{border-top:1px solid #27a57f; font-size:12px; font-weight:600; color:#d8d8d8; text-align:right; padding:4px 15px;}
.panel-bdr-btm{border-bottom:1px solid #27a57f!important;}

.summrybox-main{display:block; width:100%; height:auto; position:relative;}
.summrybox-main:after{content:''; display:table; clear:both;}
.summrybox{display:block; width:100%; height:auto; position:relative;}
.summrybox h6{margin:0; border-bottom:1px solid #27a57f; position:relative; font-weight:600; color:#d8d8d8; padding:7px 10px; margin-bottom:5px;}
.summrybox h6:before{content:''; position:absolute; left:0px; top:11px; width:6px; height:6px; border-radius:100%;}
.summrybox h6.cgreen:before{background:#21bb15;}
.summrybox h6.cgred:before{background:#e0312a;}
ul.summryList{margin:0; padding:0; list-style:none;}
ul.summryList li{display:block; width:100%; position:relative; height:auto; font-size:12px; color:#d8d8d8; padding:1px 0px;}
ul.summryList li:after{content:''; display:table; clear:both;}
ul.summryList li span:first-child{float:left;}
ul.summryList li span:last-child{float:right;}
ul.summryList li.footer{font-weight:600;}
.panel-title.no-collaps{text-align:center; display:block; width:100%;}
.panel-title.no-collaps a:before{content:'';}

.panelTop-list{display:block; width:100%; height:auto;}
.panelTop-list ul{margin:0; padding:0; list-style:none; font-size:0;}
.panelTop-list ul li{display:inline-block; font-size:14px; width:16.66%;}
.panelTop-list ul li div{display:inline-block; width:100%; max-width:90px; text-align:center;}
.panelTop-list ul li h5{margin:0; color:#d8d8d8;}

.panel-zoom{background-color:transparent; box-shadow:none; margin-top:15px;}
.btn-head{background:transparent; font-weight:600; color:#0a151c;}
.btn-zoom{background:#27a57f; color:#fff!important; border-color:#27a57f; font-size:12px; font-weight:500; padding:4px 8px; border-radius:2px;}
.btn-zoom:hover, .btn-zoom:focus{border-color:#007955;}

.form-range label.control-label{font-weight:500; font-size:12px; color:#0a151c;}
.form-range input.form-control{background:#27a57f; border-color:#95e4cc; max-width:120px; height:28px; color:#d8d8d8;}

.action-right{float:right; width:auto; padding:10px 10px 7px 5px;}
.btn-action{background:#27a57f; padding:0px 5px; color:#d8d8d8; line-height:17px;}
.no-bg{background:transparent!important;}
.chartAction-box{display:block; width:100%; height:auto; position:relative; margin:7px 0;}
.btn-chartaction{background:#007f59; color:#d8d8d8!important; font-size:12px; font-weight:500; padding:2px 6px; border-radius:2px; border-color:#27a57f;}
.btcEuroList2 {
  background: #007f59 url(../images/select-arrow2.png) no-repeat scroll calc(100% - 5px) 50%/10px auto!important; border:none; border-radius:2px; color:#d8d8d8; color:#d8d8d8; font-size:12px; padding:3px 20px 2px 6px; border:1px solid #27a57f; height:auto; font-size:11px;
}

.footer-dashboard{display:block; width:100%; padding:20px 0px; text-align:center; background-image:none; background:#222;}
.footer-dashboard p{margin:0; color:#fff; font-size:13px;}

.table-exchange2{border:none; background:transparent; margin-bottom:0;}
.table-exchange2>thead>tr>th{border-bottom:1px solid #014d36; background:#016647; font-size:12px; font-weight:500; color:#d8d8d8; text-align:center;}
.table-exchange2>thead>tr>th.text-right{text-align:right;}
.table-exchange2>tbody>tr>td{border:none; text-align:center; background:#016647; font-size:12px; font-weight:500; color:#d8d8d8;}
.table-exchange2>tbody>tr>td>h6{margin:0; font-weight:500; color:#d8d8d8;}
.table-exchange2>tbody>tr>td.no-record{padding:10px 15px; color:#568875; font-weight:600; font-size:14px;}

.rowCust {margin-right:-5px; margin-left:-5px;}
.table-arrow-red{color:#b14c47; font-size:18px; float:left; line-height:16px;}
.table-arrow-green{color:#77903e; font-size:18px; float:left; line-height:16px;}






/*shubham*/
.main-wrapper{margin-top:90px;min-height: calc(100vh - 161px);}
.inner-banner-sec{background-repeat:no-repeat;min-height: 120px;background-size: cover;}
.banner-heading{    padding: 40px 0;}
.banner-heading h1{color:#fff;margin:0;font-weight: 600;text-transform:uppercase;}
.inner-content-sec{padding:2em 0;}
.common-paragraph{color:#222;font-size:14px;margin-bottom:20px;}

/*login-form*/
.login-block{padding:20px 0px;}
.common-form-block{max-width:600px;margin:0 auto 10px;border:1px solid #ddd;box-shadow:0  0 10px #aeacac;border-radius:3px;}
.login-header{padding:15px;background:#27a57f;text-align: center;border-radius: 3px;}
.login-header h2{margin:0px;font-size:18px;color:#fff;font-weight:600;text-transform: uppercase;}
.form-inner-content{padding: 2.8em 3em 1.8em}
.form-inner-content label{color:#222222;font-size:13px;font-weight:600;}
.form-inner-content .form-control{height:40px;border-radius:3px;border:1px solid #c2c2c2; width:100%;}
.custum-input-box {position:relative;}
.custum-input-box .form-control{padding-left:40px;}
.custum-input-box img{position: absolute;left: 10px;top: 14px;width: 20px;}
.forget-text{text-align:right;margin-top:-12px;}
.forget-text a{font-size:12px;color:#777;text-decoration:underline;font-weight: 600;}
.forget-text a:hover{color:#27a57f;}
.form-inner-content .button-box{margin:20px 0px}
.btn-signin{color:#fff;font-size:16px;font-weight:600;background:#27a57f;padding: 10px 15px;border-radius:2px;margin-bottom:5px;min-width:130px;}
.btn.btnwidth100{width:100%;}
.btn.btnwidth50{width:calc(50% - 13px);}
.btn.btnwidth50:last-child{margin-left:20px;}
.btn-signin:hover,.btn-signin:focus{color:#fff;}
.not-member-block{color:#222;font-size:16px;font-weight:500;text-align:center;}
a.reg-anchor{color:#222;font-weight:700;text-decoration:underline;}
a.reg-anchor:hover{color:#27a57f;}
 .modal-text{color:#222;font-size:16px;margin-bottom:15px;}
 .successModal{padding:50px 20px;}
 .form-group select.form-control{background: url(../images/dropdown-img.png)no-repeat scroll calc(100% - 10px) 50%/15px auto;
}
.captcha-box{max-width:250px;/* transform:scale(0.7);*/}


/**************************Amit*******************************/

/************forgot-password modal***********/
.header-green h4{padding: 15px;background: #27a57f;text-align: center;color: #fff; font-weight:600;font-size: 18px;margin: 0;}
.btn-signin.btnwidth-300{min-width: 300px;}
.form-inner-content p , .click-here a.reg-anchor{font-size: 14px;}
/***************************************/

/******otp sms-verify key*************/
.header-green.header-transparent h4{background: #fff;color: #000;border-bottom: 1px solid #c2c2c2;font-size: 15px;}
.custum-input-box.padd-input-box .form-control{padding-left: 12px;}
.key-body p{color:#4e4e4e;font-weight:500;}
.key-body p.recommend-txt{color:#4e4e4e; font-weight:700;}
.google-sms-btn a:first-child{margin-right: 20px;}

/***********view profile***********/

.userpro-img img{width: 100%;}
.userpro-img{max-width: 130px;}
.profile-table{display: table;width: 100%;}
.pro-table-cell{display: table-cell;vertical-align: middle;}
.profile-block{    padding-bottom: 15px;border-bottom: 3px solid #27a57f;}
.profile-block span   {color: #222222;font-weight: 500;font-size: 14px;    display: block;margin-bottom: 20px;}
.pro-table-cell.image-cell{width: 160px;}
.pro-table-cell h4{margin-bottom: 0;color: #222222;font-weight: 600;font-size: 19px;}
.pro-table-cell a.btn-signin{padding: 6px 10px;margin-bottom: 0;font-weight: 500;font-size: 14px;    min-width: 120px;}
.authentication-block{margin-top: 30px;}

.authentication-text span{ color: #222222;font-weight: 600;line-height:45px;display: inline-block}
.authentication-text{ background: #ebebeb;padding:20px 20px;margin-bottom: 15px;}
.tagList li.active a{ background: #f44e5a;border-color: #f44e5a;}

/****toggle-switch****/
label.switch{float: right;margin-bottom: 0; margin-top: 2px;}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

.switch input {display:none;}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #27a57f;
}


.switch input:focus + .slider {
  box-shadow: 0 0 1px #27a57f;
}

.switch input:checked +  .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}


/***********edit profile***********/

.editpro-block .userpro-img{display: inline-block;}
.editpro-block .userpro-img{position: relative;}
.editpro-block .userpro-img img.camera-img{position: absolute;bottom: 0px; right: 5px; width: 32px;}
.editpro-block hr{border:1px solid #e2dcdc; margin-bottom: 0;margin-top: 2px;}
.general-information-block h4{color: #222222;font-weight: 700;margin-bottom: 20px;font-size: 19px;}
.general-information-block{margin:34px 0;}
.general-information-block .form-inner-content{padding: 0;}
label.gender-label{padding-right: 20px;margin-bottom: 0;vertical-align: middle;}
span.male-radio{padding-right: 26px;}
input.form-control.calender-icon{background: #fff url(../images/calendar-icon.png)no-repeat scroll calc(100% - 10px) 50%/18px auto;}

/*******custom-radio******/
.male-radio input[type="radio"]:checked,
.male-radio input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.male-radio input[type="radio"]:checked + label,
.male-radio input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #222;
}
.male-radio input[type="radio"]:checked + label:before,
.male-radio input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #c2c2c2;
    border-radius: 100%;
    background: #fff;
}
.male-radio input[type="radio"]:checked + label:after,
.male-radio input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #747474;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.male-radio input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.male-radio input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*******************/


/***********orders***********/
.custom-table table{border: 1px solid #ddd;}
.custom-table .table{margin-bottom: 0px;}
.custom-table table thead{color: #fff;background: #27a57f;}
.custom-table table thead tr th , .custom-table table tbody tr td{font-size: 14px;font-weight: 600;text-align: center;padding: 12px; }
.order-table h4{color: #222;font-weight: 800;display: inline-block;}
.order-table{margin-bottom: 40px;}
.custom-table table thead tr th:first-child , .custom-table table tbody tr td:first-child{text-align: left;}
.custom-table table thead tr th:last-child , .custom-table table tbody tr td:last-child{text-align: right;}
.show-orders {float: right;min-width: 178px;}
.show-orders select.form-control{max-width: 70px;display: inline-block;margin: 0 5px;
  background: #fff url(../images/dropdown-img.png)no-repeat scroll calc(100% - 10px) 50%/11px auto}
.show-orders label , .show-orders span{font-weight: 600;font-size: 14px;}
.show-orders .form-group{margin-bottom: 10px;}
.show-entry span {font-size: 13px;font-weight: 600;color: #a09d9d;margin-bottom: 8px;display: inline-block;}
.pagination{float: right;margin:0;}
.show-entry {margin-top: 10px;}

/******pagination*******/

.pagination a {
    color: black;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border:1px solid #ddd;
    margin-right:10px;
    font-size: 13px;
    font-weight: 600;
}
.pagination a i{color: #27a57f;font-size: 14px;}
.pagination a:last-child{margin-right: 0;}
.pagination a.active {
    background-color: #27a57f;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/***********/

/*******deposit-after-login-thether*******/
.deposit-thether h4{    border-bottom: 1px solid #c2c2c2;padding-bottom: 15px;}
.deposit-thether p.male-radio label{color: #333;font-size: 13px;font-weight: 600;}

/*******withdrawal-after-login-cryptocurrency*******/

textarea.form-control{resize: none;min-height: 130px;}
.amount-input .col-sm-5{padding:0;}
span.tild-icon{text-align: center;display: block;line-height: 38px;}

.amount-input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #222;
  text-align: right;
  font-weight: 600;
}
.amount-input ::-moz-placeholder { /* Firefox 19+ */
 color: #222;
  text-align: right;
  font-weight: 600;
}
.amount-input :-ms-input-placeholder { /* IE 10+ */
  color: #222;
  text-align: right;
  font-weight: 600;
}
.amount-input :-moz-placeholder { /* Firefox 18- */
   color: #222;
  text-align: right;
  font-weight: 600;
}

.deposit-thether select.form-control{color: #222;font-weight: 500;}

/*******withdrawal-after-login-trading-margin*******/
.form-control.input-box{color: #333;font-weight: 600;line-height: 26px;} 
.form-control.input-box span img{width: 10px;    vertical-align: sub;}
.form-control.input-box span.ether{    padding-right: 3px;}
.form-control.input-box span.ether img{width: 16px;margin-left: -4px;}
.form-control.input-box span{padding-right: 6px;}
.form-control.box-list{height: auto;}
.form-control.input-box.box-list ul{margin: 0;}
.form-control.input-box.box-list ul  li{margin-bottom: 15px; }
.form-control.input-box.box-list ul li:last-child{margin-bottom: 0px; }
.recent-text {text-align: center;}
.recent-text.form-control{    padding: 22px 12px;font-size: 14px;font-weight: 600;color: #908d8d;}
ul.support-withdraw-list{margin-bottom: 0; }
ul.support-withdraw-list li{color:#222;font-size: 14px;margin-bottom: 12px;font-weight: 600;  }
.support-withdraw-block{margin-top: 30px;}
.general-information-block .support-withdraw-block h4{margin-bottom: 15px; }

/*******wallet-after-login-funding*******/

.quick-tranfer-block{padding: 15px;border: 1px solid #e4e4e4;
    box-shadow: 0 0 10px rgba(204, 204, 204, 0.788235294117647);
    border-radius: 4px;}
.quick-tranfer-block .panel-group {margin-bottom: 0;}
.quick-tranfer-block .panel-default{border-color: transparent; box-shadow:none;}
.quick-tranfer-block .panel-default>.panel-heading+.panel-collapse>.panel-body{border-top-color: transparent; background-color:#fff!important;}
.quick-tranfer-block .panel-body{padding: 0 15px;}
.quick-tranfer-block .form-inner-content{padding: 0;}
select.form-control.select-color{color: #222;font-weight: 500; width:100%;}
select.form-control.select-width{/*max-width: 83%;*/display: inline-block; width: 100%!important;}
.col-sm-3.padleft-0{padding-left: 0;}
.button-tranfer .btn-signin{padding: 8px 15px;min-width: 144px;}
.balances-block{margin-top: 20px;}
.balances-block td span{padding-right: 10px;}
.balances-block .custom-table table {border: none;}
.balances-block .custom-table table thead {color: #27a57f;background: transparent;}
.balances-block .table>tbody>tr>td {border-top: none;}
.custom-table table {
    background: #fff;
}
.table-responsive.custom-table{border: none;margin-bottom: 0;}
.balances-block .custom-table table thead tr th:last-child, .balances-block .custom-table table tbody tr td:last-child{text-align: center;}

/*****accordian******/
.quick-tranfer-block .panel-heading {
  padding: 0;
  border:0;
  background-color:#fff!important;
}
.quick-tranfer-block .panel-title>a, .quick-tranfer-block .panel-title>a:active{
  display:block;
  padding:15px 15px 15px 20px;
  text-transform:uppercase;
  letter-spacing:1px;
  word-spacing:3px;
  text-decoration:none;
  color: #222222;
  font-weight: 700;
  position: relative;
  font-size: 18px;
}
.quick-tranfer-block .panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   position: absolute;
    left: 0px;
    top: 17px;
    -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
   transition: all 0.5s;
}
.quick-tranfer-block .panel-heading.active a.collapsed:before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
} 

/*******popup-withdrawal*******/

.withdrawal-para-block{padding:20px;}
.withdrawal-para-block p{text-align: center;font-weight: 500;color: #222222;}
.popup-body .header-green h4{font-size: 20px;padding: 20px 0;}

footer{display:block; width:100%; background-image:url(../images/footer-bg.jpg); background-repeat:no-repeat; background-position:center; background-size:cover;}
.footerTop{display:block; width:100%; position:relative; padding:70px 0px;}
.footerTop:after{content:''; display:table; clear:both;}
.footlogo-text{display:block; width:100%; max-width:420px;}
.footlogo{display:block; width:100%; max-width:180px; height:auto; margin-bottom:10px;}
.footlogo img{width:100%; height:auto;}
.foot-para{color:#fff; font-size:14px; font-weight:400;}
.tagHeading{margin:0; color:#fff; font-weight:700;}
ul.tagList{margin:0; padding:0; list-style:none; margin-top:20px;}
ul.tagList li{display:inline-block; text-align:center; margin-right:10px; margin-bottom:10px;}
ul.tagList li a{display:block; width:100%; height:100%; padding:8px 25px; border-radius:20px; color:#fff; font-size:14px; border:1px solid rgba(216,216,216,0.2); text-decoration:none;}
ul.tagList li a:hover, ul.tagList li a:focus{background:#f44e5a; border-color:#f44e5a;}

.socialList-box{display:block; width:100%; max-width:215px; margin:0 auto; float:right;}
ul.socialList{margin:0; padding:0; list-style:none; margin-top:20px;}
.socialList li{display:inline-block; width:40px; height:40px; line-height:40px; margin-right:10px; margin-bottom:10px;}
.socialList li a{display:block; width:100%; height:100%; text-align:center; color:#fff; border-radius:20px; background:#4c93c1; font-size:20px;}
.socialList li a.facebook:hover{background:#3B5998;}
.socialList li a.twitter:hover{background:#55ACEE;}
.socialList li a.linked:hover{background:#007bb5;}
.socialList li a.instagram:hover{background:#ca2b92;}
.socialList li a.pintrest:hover{background:#cb2027;}
.socialList li a.snapchat:hover{background:#fffc00;}
.socialList li a.gplus:hover{background:#dd4b39;}
.footerBtm{border-top:1px solid rgba(255,255,255,0.2); padding:25px 15px;}
.footerBtm p{margin:0; text-align:center; color:#fff; font-size:14px;}

.popup-body .header-green h4.headingmall {font-size: 14px;}
.g-recaptcha{max-width:100%;}
.g-recaptcha iframe, .g-recaptcha div, .g-recaptcha textarea{width:100%!important;}
.topbanner .topbanner-inner .item{background-size: cover;}
.dashboard-left.dashboard-noborder{border-right: none;}
.input-box a{color: #333;}
.input-box a:hover{text-decoration: none;}
ul.support-withdraw-list li a{color: #333;}
ul.support-withdraw-list li a:hover{text-decoration: none;cursor: pointer;}

/********OTC After Login funding*******/
.otc-tabs-block .tab-content{border-radius: 0px 0px 3px 3px;border: 1px solid #c2c2c2;border-top: none;}
.otc-body-block {margin: 34px 0;}
.exchange-page-dark .otc-body-block .nav-tabs{float: none;width: 100%;border-bottom: none;}
.exchange-page-dark .otc-body-block .nav-tabs > li > a {color: #fff!important;padding: 15px 22px;
border-radius: 3px 3px 0px 0px;font-size: 16px;font-weight: 600;background:#52b799;margin-right: 2px;}
.otc-image img{width:90px;height: 90px;border-radius: 50%;border: 1px solid #27a57f;}
.exchange-page-dark .otc-body-block .tab-content{padding: 15px 20px;}
.about-btc p{margin: 0;font-size: 16px;color: #222222;font-weight: 600;}
.category-part .form-group select.form-control{border: 0;border-radius: 0;font-size: 15px;font-weight: 600;
background: #f2f2f2 url(../images/select-arrow.png)no-repeat scroll calc(100% - 10px) 50%/13px auto;}
.category-part .form-group{margin-bottom: 0;}
.otc-image , .about-btc{display: inline-block;vertical-align: middle;}
.about-btc{padding-left: 10px;}
.exchange-page-dark .otc-body-block .nav-tabs > li.active > a, .exchange-page-dark .otc-body-block .nav-tabs > li > a:hover
{background: #016d4c;color: #fff!important;}
.otc-body-block .nav-tabs > li{text-align: center;}
.otc-body-block .nav-tabs > li:last-child a{margin-right: 0;}
.tab-ellipsis{position: absolute;top: 0;right: 0;}
.tab-inner-content{position: relative;}
.otc-info-block .col-sm-3.col-xs-3.pd0{padding: 0;}
.otc-info-block .row.mrg0{margin: 0;}
.otc-info-block{border-radius: 0px 0px 3px 3px;border: 1px solid #c2c2c2;}
.otc-info-block .category-part h5{padding: 10px 12px;background:#f2f2f2;margin-bottom: 0;margin-top: 0;position: relative;color: #777777;font-weight: 600;}
.otc-info-block .category-arrow{position: absolute;top: 10px;right: 10px;}
.otc-info-block .category-part{min-height: 180px;border-right: 1px solid #c2c2c2;}
.category-content{text-align: center;}
.category-content img{padding-top: 25px;max-width: 80px;width: 100%;}
ul.dropdown-menu.ellipseDropdown {background-color: #016d4c; border-radius: 0px 0px 4px 4px; margin-top: -1px; padding: 0; 
min-width: 180px; text-align: center; } 
ul.dropdown-menu.ellipseDropdown li:first-child a {border-top: none;}
ul.dropdown-menu.ellipseDropdown li a {padding: 12px; color: #fff; font-size: 15px; border-top: 1px solid #ddd; cursor: pointer;
 font-weight: 500; } 
.btn-ellipsetype .btn.dropdown-toggle {border-radius: 0px;background: transparent;font-size: 40px;} 
.dropdown.btn-ellipsetype{display: inline-block;}
.ellipseDropdown.dropdown-menu>li>a:focus, .ellipseDropdown.dropdown-menu>li>a:hover{color: #000;}
.btn.btn-signin.btn-grey{background-color:#999999;border-color:#999999;min-width: 180px;}
p.text-large{color: #222222;font-size: 18px;font-weight: 700;}
.btn.btn-signin.btn-grey.btn-greysm{min-width: 130px;}
.escrow-text{background: #ddd;padding: 20px;border-radius: 34px;font-size: 16px!important;font-weight: 500;}
p.sendbtc{font-weight: 600;font-size: 16px;}
.row.mr0{margin: 0;border-bottom: 1px solid #ccc;}
.col-sm-6.col-xs-6.pd0{padding: 0;border-right: 1px solid #ccc;}
.new-escrow-body .form-inner-content{padding: 20px;}
.new-escrow-body p.sendbtc{font-size: 15px;margin-bottom: 2px;}
.btn-ellipsetype .btn.dropdown-toggle:hover, .btn-ellipsetype .btn.dropdown-toggle:focus {color: #27a57f;}

/***************************/

/********OTC After Login message-chat*******/
/* ===============Chat Box============= */

.chat-box.chat-box-leftside{width: 370px;position: static;}
.chat-box-leftside .nav.nav-pills>li>a{font-size:11px;border-radius:0;padding:10px 7px;color:#222;font-weight:700;border-right:1px solid #8c8484; }
.chat-box-leftside .nav-pills>li.active>a, .chat-box-leftside .nav-pills>li.active>a:focus,
 .chat-box-leftside .nav-pills>li.active>a:hover {background-color: #016647;color: #fff;}
.chat-box-leftside .nav>li>a:focus, .nav>li>a:hover {background-color: #ccc;}
.chat-box-leftside ul.nav{border-bottom: 1px solid #8c8484;}
.chat-box-leftside .nav.nav-pills>li:last-child a{border-right: none;}
.chat-box-leftside .chat {max-height: 360px;}
.chat-img img{width: 50px;height: 55px;border-radius: 50%;}
.chat-box-leftside .chat-inner-box{position: relative;max-width: 100%;}
.chat-box-leftside .left .chat-inner-box{padding-left: 60px;}
.chat-box-leftside .right .chat-inner-box{padding-right: 60px;}
.left  .chat-img{position: absolute;left: 0;top: 0;}
.right  .chat-img{position: absolute;right: 0;top: 0;}
.chat-box-leftside .chat-box-body{border-bottom: 1px solid #ddd;}
.chat-box.chat-box-leftside.chat-collapse{transition: none;}

/**********Live Chat************/
.chat-box {
    width: 320px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    position: fixed;
    right: 15px;
    bottom: 0px;
    background: #fff;
  height:40px;
  transition:10s;
}
.chat-box-head {
background: #007955;
border: 1px solid #fff;
border-bottom: none;
color: #fff;
padding: 10px 15px;
font-size: 14px;
position: relative;
font-weight:500;
border-radius: 6px 6px 0 0;
}
.chat-box-body {border-right: 1px solid #ddd;border-left: 1px solid #ddd;}
.chat-box-head span.fa {position:absolute; right: 10px; top: 13px; }

.chat-collapse.chat-box{height:auto;transition:10s;}

.chat {padding: 15px;max-height: 380px; min-height: 250px;overflow-y: auto;}
.chat-user-name { font-size:13px; color: #333333; font-weight: 700; margin-bottom:7px; line-height: 14px; } 
.dateandtime { font-size: 12px; color: #C1C7D0; font-weight: 500; }
.chat-inner-box p {
line-height: 16px;
font-size: 12px;
margin:0 0 5px;
text-align:left;
padding: 10px;
word-break: break-all;
color: #222;
font-weight: 500;
}
.chat li{margin-bottom:10px;}
.chat li:last-child{margin-bottom:0px;}
.chat li.left{text-align:left;}
.chat li.right{text-align:right;}

.chat li.right p{border-radius: 4px;border:1px solid #c2c2c2;}
.chat li.left p{background:#EBECF0;border-radius: 4px;}
.chat-inner-box{max-width:90%;}
.chat li.left .chat-inner-box{float:left;}
.chat li.right .chat-inner-box{float:right;}

.chat-comment-box{position:relative;border-top:1px solid #ddd;}
.chat-comment-box .form-control{border-radius:0;padding-right:45px;border:none;box-shadow:none;min-height:40px;}
.btn.send-chat-btn { position: absolute; right: 10px; top: 10px; color: #222; background: none; box-shadow: none; padding: 3px 6px; font-size: 17px; }




/***********************************/

















































