<div class="main-wrapper">
  <div class="inner-content-sec">
    <div class="container-common">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-block">
            <form [formGroup]="signupForm" novalidate autocomplete="off">
              <div class="common-form-block">
                <div class="login-header">
                  <h2>Create your own account</h2>
                </div>
                <div class="form-inner-content">
                  <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" formControlName="name" name="name" maxlength="60" autocomplete="off" placeholder="Name">
                      <div class="error" *ngIf="(name.dirty) && name.invalid">
                        <span [ngClass]="{error:name.errors.required}" style=color:red *ngIf="name.errors.required">*Please enter  name.</span>
                        <span [ngClass]="{error:name.errors.pattern}" style=color:red *ngIf="name.errors.pattern">*Please enter valid  name.</span>
                      </div>
                    </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email ID" formControlName="email" name="email" maxlength="64">
                    <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
                      <div *ngIf="email.errors.required" class='danger' padding>
                          *Please enter email address
                      </div>
                      <div *ngIf="email.errors.pattern" class='danger' padding>
                          *Please enter valid email address.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" maxlength="16">
                    <div class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
                      <div *ngIf="password.errors.required" class='danger' padding>
                          *Please enter password.
                      </div>
                      <div *ngIf="password.errors.pattern" class='danger' padding>
                          *Password must contain at least one special character, one alphabet and one digit.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" maxlength="16">
                    <div class="error" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                      <div *ngIf="confirmPassword.errors.required" class='danger' padding>
                          *Enter Confirm password
                      </div>
                      <div *ngIf="confirmPassword.errors?.mismatch">*Confirm password should be same as password</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Select Country</label>
                    <select class="form-control dropdown-icon" formControlName="country" (change)="countrychange($event.target.value)">
                      <option value="">Select Country </option>
                      <option *ngFor="let index of countryArry" value="{{index.name}}">{{index.name}}</option>
                        <span class="error" *ngIf="country.invalid && (country.dirty || country.touched)">
                          <span *ngIf="country.errors.required" class="danger">*Country field is required.</span>
                        </span>
                     
                    </select>
                  </div>
                  <div class="form-group">
                    <label>State</label>
                    <select class="form-control dropdown-icon" formControlName="state" (change)="statechange($event.target.value)">
                      <option value="">Select State </option>
                          <option *ngFor="let item  of stateArry " value="{{item.stateName}}">{{item.stateName}}</option>
                          <span class="error" *ngIf="state.invalid && (state.dirty || state.touched)">
                            <span *ngIf="state.errors.required" class="danger">*State field is required.</span>
                          </span>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" formControlName="phone" id="phoneNum" maxlength="14">
                    <span class="error" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                      <span *ngIf="phone.errors.required" class="danger">*Phone number  is required.</span>
                      <span *ngIf="phone.errors.pattern" class="danger"> *Please enter a valid phone number.</span>
                      <span *ngIf="phone.errors.minlength" class="danger"> *Please enter a valid phone number.</span>
                    </span>
                  </div>
                  <div class="captcha-sec">   
                    <div class="row">   
                      <div class="col-sm-5">
                        <div class="checkbox-block">
                          <div class="checkbox-box">
                            <label class="checkbox-design">
                              <input type="checkbox"  formControlName="privacyPolicy"/>
                              <span></span>
                              I agree to <a href="http://162.222.32.20:1487/header/privacyPolicy" target="_blank">Privacy Policy</a>
                            </label>
                          </div>
                          <div class="checkbox-box">
                            <label class="checkbox-design">
                              <input type="checkbox"  formControlName="terms"/>
                              <span></span>
                              I agree to <a href="http://162.222.32.20:1487/header/termsConditions" target="_blank">Terms & Conditions</a>
                            </label>
                          </div>
                          <div class="checkbox-box">
                            <label class="checkbox-design">
                              <input type="checkbox" formControlName="responsibility"/>
                              <span></span>
                              I take full responsibility for providing accurate personal data
                            </label>
                          </div>
                        </div>  
                      </div> 
                      <div class="col-sm-4">
                          <div class="captcha-box">
                            <re-captcha (resolved)="resolved($event)" siteKey="6LdVpm8UAAAAANE-1wloOFIuTWbXdV6UKPctLjiE"></re-captcha> 
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="button-box">
                    <button class="btn btn-signin btnwidth100" href="javascript:;" [disabled]="!signupForm.valid || recaptcha==''" (click)="register()">Register</button>
                  </div>
                  <div class="not-member-block">
                    Already have an account?
                    <a href="javascript:;" class="reg-anchor" (click)="login()">Login</a>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>