<header *ngIf="loginToken">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="logo">
                      <a href="javascript:;" (click)="goToPage(9)">
                          <img src="assets/images/logo.png" alt="Logo">
                      </a>
                  </div>
                  <span class="btn btn-mobmenu"><i class="fa fa-bars"></i></span>
                 
              </div>
          </div>
      </div>
      <div class="logSign-box">
          <a href="javascript:;" class="btn-account" (click)="goToPage(1)">LOGIN</a>
          <a href="javascript:;" class="btn-account" (click)="goToPage(2)">SIGN UP</a>
      </div>
      <span class="dropdown btn-modetype">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right modeDropdown">
              <div class="modeDropdown-head">
                  <h4><i class="fas fa-moon"></i> Change theme mode</h4>
              </div>
              <div class="modeDropdown-body pb0">
                  <p>Dark theme turns the light surfaces of the page dark, creating an experience ideal for night.</p>
                  <p>Try it out! Your Dark theme setting will apply to this browser only.</p>
              </div>
              <div class="modeDropdown-footer">
                  <label class="switchTheme">
                      <input type="checkbox" id="changeMode" (change)="changeThemeMode($event.target.checked)">
                      <span class="sliderTheme round"></span>
      </label>
      </div>
      </ul>
      </span>
  </header>
  <header *ngIf="!loginToken">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="logo">
                      <a href="javascript:;" (click)="goToPage(9)">
                          <img src="assets/images/logo.png" alt="Logo">
                      </a>
                  </div>
                  
                  <span class="btn btn-mobmenu"><i class="fa fa-bars"></i></span>
                  
              </div>
          </div>
      </div>
  
  
      <div class="afterLogin-box">
          <span class="dropdown profile-dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h6>Welcome</h6>
                  <h4>{{name}}</h4>
                  <img src="{{userImage}}">
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                  <li class="pointer_cls"><a (click)="goToPage(3)">Profile</a></li>
                  <li class="pointer_cls"><a (click)="goToPage(8)">Change Password</a></li>
                  <li class="pointer_cls"><a data-toggle="modal" data-target="#logout" role="button">Logout</a></li>
              </ul>
          </span>
      </div>
      <span class="dropdown btn-modetype">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right modeDropdown">
              <div class="modeDropdown-head">
                  <h4><i class="fas fa-moon"></i> Change theme mode</h4>
              </div>
              <div class="modeDropdown-body pb0">
                  <p>Dark theme turns the light surfaces of the page dark, creating an experience ideal for night.</p>
                  <p>Try it out! Your Dark theme setting will apply to this browser only.</p>
              </div>
              <div class="modeDropdown-footer">
                  <label class="switchTheme">
                      <input type="checkbox" id="changeMode" (change)="changeThemeMode($event.target.checked)"/>
                      <span class="sliderTheme round"></span>
      </label>
      </div>
      </ul>
      </span>
  </header>
  
  <router-outlet></router-outlet>
  
  <footer>
      <div class="footerTop">
          <div class="container-common">
              <div class="row">
                  <div class="col-sm-5">
                      <div class="footlogo-text">
                          <div class="footlogo">
                              <img src="assets/images/logo.png" alt="">
                          </div>
                          <p class="foot-para">
                              <strong>WHAT IS BITHOOD ?</strong><br>Bithood is an anonymous, fast and secures Digital Asset trading &amp; OTC platform.
                          </p>
                      </div>
                  </div>
                  <!-- <div class="col-sm-4">
                      <h3 class="tagHeading">Quick Links</h3>
                      <ul class="tagList">
                          <li><a href="javascript:;" (click)="goToPage(13)">About Us</a></li>
                          <li><a href="javascript:;" (click)="goToPage(15)">Terms & Conditions</a></li>
                          <li><a href="javascript:;" (click)="goToPage(14)">Privacy Policy</a></li>
                      </ul>
                  </div> -->
                  <div class="col-sm-3">
                      <div class="socialList-box">
                          <h3 class="tagHeading">Social Link</h3>
                          <ul class="socialList">
                              <li><a target="_blank" href="javascript:;" class="twitter"><i class="fab fa-twitter"></i></a></li>
                              <li><a target="_blank" href="javascript:;" class="linked"><i class="fab fa-telegram"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footerBtm">
          <p>Copyright Â© 2018. All Rights Reserved By Bithood</p>
      </div>
  </footer>
  
  <!--logout -->
  <div class="modal fade common-modal" id="logout" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel">
      <div class="modal-dialog max-WT-600" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="popup-body key-body">
  
                      <div class="form-inner-content">
                          <form>
  
  
                              <p class="mt10 text-center">Are you sure you want to logout.</p>
                              <div class="mt30 text-center google-sms-btn">
                                  <a class="btn btn-signin" (click)="logout()">Yes</a>
                                  <a class="btn btn-signin btn-danger" (click)="cancel()" style="background-color:#c9302c;">No</a>
                              </div>
  
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>