
<div class="main-content common-main">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="cardMsgbox">
                  <div class="w-100">
                        <div class="alert alert-danger" *ngIf= '!page'>
                          <strong>A verification link has been sent to your E-mail ID. </strong>
                      </div> 
                      <div class="alert alert-danger" *ngIf= 'page'>
                          <strong>Please click on the below link to send an email for verification. </strong>
                      </div> 

                      <U style="color: skyblue ;cursor: pointer;" (click) = "resendEmail()">Resend Email</U>

                      <div class="msgIconBox">
                          <span class="msgIcon"><img src="assets/images/activate_email.png"/></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>